#modal-delete {
    width: 70%;
    height: 100%;
    display: flex;
    border: 1px solid blue;
    background-color: aliceblue;
    z-index: 999;
    position: absolute;
    top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    row-gap: 30px;   
}

.buttons-delete {
    width: 100%;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;


}
#modal-delete button {
    padding: 5px 10px;
}

