.task-div {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.task-div li {
    list-style: none;
}

#check{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    
}

.checked{
    text-decoration: line-through;
    background-image: url('../images/check.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.remove {
    width: 10px;
    height: 10px;
    background-image: url('../images/x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

}