* {
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

.menu {
    height: 40px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    border-bottom: solid rgb(163, 161, 161) 1px;
}

.aba-vermelho, .aba-azul {
    font-size: 40px;
    height: 100%;
    text-align: center;
    padding: 0 100px;
    display: inline-flex;
}

.highlight-tab{
    border-bottom: solid 2px green;
}

.azul, .vermelho {
    height: 600px;
    margin-top: 20px;
    z-index: -1;
    transition: .5s;
}

.azul {
    background-color: blue;
    
}

.azul-vermelho {
    position: relative;
}

.vermelho {
    background-color: red;
    position: relative;
    top: -620px;       
}

.selected {
    z-index: 0;
}
