* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 1px blue;
  position: relative;
  row-gap: 15px;
}

.container .input-div {
  display: flex;
  gap: 15px;
  
}

.container .input-div button {
  padding-right: 10px;
  padding-left: 10px;
}

