.container-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(127, 127, 139);
    align-items: center;
}

#lista-menu {
    display: flex;
    gap: 20px;
}

#lista-menu a {
    text-decoration: none;
    color: black;
}

.header2 {
    height:60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu2 {
    display: flex;
    gap: 20px;
}


.menu2 a{
    color: blanchedalmond;    
    text-decoration: none;
}