
#auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr)) ;
}

#auto-fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr)) ;
}

div {
    width: 100%;
    height: 150px;
    background-color: aqua;
    font-size: 2rem;
    font-weight: bold;
    border: solid black 1px;
    margin-bottom: 6px;
}