* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(1, 71, 60);
}

header {
    text-align: center;
    color: whitesmoke;
}
section {
    width:400px;
    height: auto;
    margin: auto;
    background-color: blanchedalmond;
    padding: 10px;
}

#task {
    margin-bottom: 5px;
}

:checked + label {
    color: grey;
    text-decoration: line-through;
}